.board {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;
}

.notActive {
  background: red;
}

.active,
.notActive {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardSlots {
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: green;
  border-style: solid;
}
