.App {
  text-align: center;
}

.startGame {
  background-color: rgba(131, 212, 38, 0.87);
  margin-left: 15px;
}

.layout {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 40px;
  color: rgb(0, 132, 255);
  margin-bottom: 50px;
}
